<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meowing.loud">

    <application
        android:name="com.meowing.loud.arms.app.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AnimationTheme">

        <activity
            android:name="com.meowing.loud.login.view.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.view.activity.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity android:name=".login.view.activity.ForgetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".home.view.activity.HomeActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".me.view.Activity.UserCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".home.view.activity.HomeAddMusicActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".play.view.activity.PlayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".arms.manager.play.PlayService"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.meowing.loud.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>